.default-btn {
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.8s;
  color: #FFF;
  border: 1px solid var(--secondary-color);
}

.btn.default-btn:hover {
  color: var(--secondary-color);
  background-color: #FFF;
  border: 1px solid var(--secondary-color);
}

@media (min-width: 992px) {
  .default-btn {
    padding: 1em 0.5em;
    font-size: 1.2em;
    border-radius: 10px;
  }
}

@media (min-width: 1400px) {
  .default-btn {
    padding: 0.8em 0.6em;
    font-size: 1.3em;
  }
}